{% extends "index.html" %}

{% block m%}
    {{ form.errors }}
{% endblock m %}


{% block model %}
    <!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div id="loginForm">
            <!-- Login form -->
            <h2 class="font-bold mb-3 text-white">Login</h2>
            <form action="{% url 'access:login' %}" method="post">
                {% csrf_token %}
                <!-- Your login form elements -->
                <input type="text" placeholder="username" name="username" required>
                <input type="password" placeholder="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <p class="text-white">New User? <a href="#" id="showRegister">Register Now!</a></p>
        </div>
        <div id="registerForm" class="hidden">
            <h2 class="font-bold mb-3 text-white">Register</h2>
            <!-- Registration form -->
            <form action="{% url 'access:register' %}" method="POST">
                {% csrf_token %}
                 <!-- Your registration form elements  -->
                 <input type="text" name="username" placeholder="username" required>
                 <input type="email" name="email" placeholder="email" required>
                 <input type="password" name="password" placeholder="password" required>
                 <input type="password" name="password2" placeholder="password2" required>
                <!-- <input type="file" accept="image/*">
                <input type="text" placeholder="OTP">  -->
                <button type="submit">Sign Up</button>
            </form>
            <p class="text-white">Already have an account? <a href="#" id="showLogin">Login</a></p>
        </div>
    </div>
</div>
{% endblock model %}


